<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alexey</title>
</head>
<body>
<div class="back">
  <div class="container">
    <h1 class="center">Alexey Sherkhonov</h1>
    <p class="center">Java Web developer</p>
    <div>
      <div class="blockImgLinks photoBack">
        <div class="card">
          <a href="https://vk.com/nxbeyxnd" class="center">
            <img src="../assets/img/vk.svg" class="image">
          </a>
          <span class="center">VK</span>
        </div>
        <div class="card">
          <a href="https://github.com/nxbeyxnd" class="center">
            <img src="../assets/img/github.svg" class="image">
          </a>
          <span class="center">Github</span>
        </div>
        <div class="card">
          <a href="mailto:alexey.sherkhonov@gmail.com" target="_blank" class="center">
            <img src="../assets/img/gmail.svg" class="image">
          </a>
          <span class="center">Mail me</span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
